.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 20em;
    background-color: var(--preto);
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoText {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
}